h1{
	font-family: IBM+Plex+Sans;
	text-align: center;
	background-color: black;
	color: orange; 
	padding: 20px;
}

hr{
	border: 4px solid black;

}

p{
	font-family: IBM+Plex+Sans;
	margin-left: 100px;
	margin-right: 100px;
	text-align: center;
	color: blue;
}


 img {
  display: block;	
  margin-left: auto;
  margin-right: auto;
}
 
body{
	color: black;
}
h3{
	color: black;
	padding-left: 2%;
	padding-right: 2%;
	text-align: auto;
	font-style: italic;
	font-style: bold;
	word-spacing: 2px;
	font-size: 20px;
}
h4{
	color: blue;
	text-align: center;
	font-size: 22px;
}

ol li{
	color: green;
	list-style: inside;
    padding-left: 45%;
	list-style-type: upper-roman;
	word-break: 2px;
	word-spacing: 2px;
	font-size: 21px;
}

audio{
	border-color: blue;
	padding-left: 40%

}

video{
	padding-left: 35%;
}

a{
	padding-left: 90%;
}

header{
	background-color: black;
	padding: 3px;
}

ul li{
	list-style: none;
	color: white;
	display: inline-block;
	margin-left: 200px;
}

li a {
	color: white;
	text-decoration: none;

}

li a:hover {
	color: red;
	text-decoration: none;
}

footer{
	background-color: black;
	padding : 3px;
}

footer p{
	color: white;
}

body {
  background-color: pink;
}